
openstack-cluster:
  # The Kubernetes version of the cluster
  # This should match the version of kubelet and kubeadm in the image
  # and will be automatically updated by us
  # we aim to keep n-1 of latest K8s version
  kubernetesVersion: "1.31.4"
  # The name of the image to use for cluster machines
  machineImage: "capi-ubuntu-2204-kube-v1.31.4-2025-01-24"

  # The worker node groups for the cluster
  nodeGroups:
    - # This group uses details found in nodeGroupDefault below
      # and is enabled by default
      name: default-md-0
      # The number of machines in the node group if autoscale is false
      machineCount: 2

    # The following node groups are optional and can be enabled by uncommenting them
    # - name: md-l3-small
    #   machineFlavor: l3.small
    #   machineCount: 1
    # - name: md-rtx4000
    #   machineFlavor: g-rtx4000.x1
    #   machineCount: 1

  # Defaults for node groups
  nodeGroupDefaults:
    # Indicates if the node group should be autoscaled
    autoscale: false
    # The flavor to use for machines in the node group
    machineFlavor: l3.micro

    rolloutStrategy:
      type: RollingUpdate
      rollingUpdate:
        # The maximum number of node group machines that can be unavailable during the update
        # Can be an absolute number or a percentage of the desired count
        maxUnavailable: 0
        # The maximum number of machines that can be scheduled above the desired count for
        # the group during an update
        # Can be an absolute number or a percentage of the desired count
        maxSurge: 1
        # One of Random, Newest, Oldest
        deletePolicy: Random

    healthCheck:
      # Indicates if the machine health check should be enabled
      enabled: true
      # The spec for the health check
      spec:
        # By default, 20% unhealthy worker nodes remediated at a time
        # https://cluster-api.sigs.k8s.io/tasks/automated-machine-management/healthchecking#max-unhealthy
        maxUnhealthy: 20%
        # If a node takes longer than 10 mins to startup, remediate it
        nodeStartupTimeout: 10m0s
        # By default, consider a worker node that has not been Ready for
        # more than 5 mins unhealthy
        unhealthyConditions:
          - type: Ready
            status: Unknown
            timeout: 10m0s
          - type: Ready
            status: "False"
            timeout: 10m0s

  # List of comma separated additional packages to install on cluster nodes
  additionalPackages: []

  controlPlane:
    # The number of control plane machines to deploy
    # For high-availability, this should be greater than 1
    # For etcd quorum, it should be odd - usually 3, or 5 for very large clusters
    machineCount: 5
    # The flavor to use for control plane machines
    machineFlavor: l3.nano

    # defaults cause OutofSync issues in argocd
    remediationStrategy:
      retryPeriod: 20m0s
      minHealthyPeriod: 1h0m0s

  # Settings for node-level registry auth if using a private registry
  registryAuth:
    {}
    # registry-1.docker.io:
    #   username: "<username>"
    #   password: "<password>"

  # The name of the SSH key to inject into cluster machines, this can be
  # left blank if a user does not require SSH access to the machines
  machineSSHKeyName: